<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <title>App</title>
</head>

<body>
    <div class="weather-page">
        <img class="bg-image" src="/assets/background.jpg" />
        <div class="weather-header">
            <div class="header-content">
                <img id="header-image" src="/assets/weatherstack_logo.png" alt="logo" />
                <div class="pull-right">
                    <div class="header-search-bar">
                        <div class="search-inner">
                            <img class="icon-search" src="/assets/icon-search.svg" />
                            <form class="search-form" method="GET">
                                <input class="search-input" type="text" placeholder="Buscar Local"></input>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="weather-container">
            <h2 id="weather-text">Current Weather</h2>
            <p id="hour"></p>
            <div class="weather-content">
                <div class="temp">
                    0
                    <span class="after-temp">C</span>
                </div>
            </div>
        </div>
    </div>

    <script src="/scripts/index.js"></script>
</body>

</html>